body, form, html {
	margin: 0px;
	padding: 0px;
	width: 834px;
	height: 706px;
}
body {
	color: #000000;
	font-family: Tahoma,Sans-Serif,Arial;
	font-size: 16px;
}
form {
	background: url('/static/img/tlo.jpg') -140px -129px no-repeat #E5E5E5;
	padding-top: 21px;
	margin-top: -21px;
}
td {
	padding: 1px;
}
label.error {
    color: #FF0000;
    font-size: 13px;
    padding-left: 5px;
}
